<div class="form-wrapper">
  <mat-card class="form-block">
    <mat-card-title class="form-block__form-title">Create new track</mat-card-title>
    <mat-card-content class="form-wrapper">
      <form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit()" class="reg-form">
        <mat-form-field appearance="outline" class="reg-form__element-wrapper">
          <mat-label class="reg-form__label">Name of the track</mat-label>
          <input type="text" name="name" class="reg-form__element" required matInput ngModel #name="ngModel"/>
          <mat-error class="reg-form__element-error" *ngIf="name.touched && name.hasError('required')">Name is
            required!
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="reg-form__element-wrapper">
          <mat-label>Choose an author</mat-label>
          <mat-select required name="artist" ngModel #artist="ngModel">
            <mat-option [value]="artist._id" *ngFor="let artist of artists | async"
                        (click)="onChooseAuthor(artist._id)">{{ artist.name }}</mat-option>
          </mat-select>
          <mat-error class="reg-form__element-error" *ngIf="artist.touched && artist.hasError('required')">Author is
            required!
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="reg-form__element-wrapper">
          <mat-label>Choose an album</mat-label>
          <mat-select [disabled]="isDisabled" required name="album" ngModel #album="ngModel">
            <mat-option [value]="album._id" *ngFor="let album of albums | async">{{ album.name }}</mat-option>
          </mat-select>
          <mat-error class="reg-form__element-error" *ngIf="album.touched && album.hasError('required')">Album is
            required!
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="reg-form__element-wrapper">
          <mat-label class="reg-form__label">Duration</mat-label>
          <input type="text" name="duration" class="reg-form__element" required matInput ngModel #duration="ngModel"/>
          <mat-error class="reg-form__element-error" *ngIf="duration.touched && duration.hasError('required')">Duration
            name is required!
          </mat-error>
        </mat-form-field>
        <div>
          <button
            type="submit"
            mat-button
            class="reg-form__reg-btn"
            [disabled]="form.invalid"
          >Create
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
