.register-link
  display: block
  color: #ae2937
  margin: 0 0 20px

.btn-login
  font-weight: 700
  color: black
  background: silver
  border-radius: 5px

.form
  display: flex
  flex-direction: column

.error
  padding: 10px
  margin: 15px
  border-radius: 5px
  background: red

.mat-error
  font-size: 16px
  margin: -5px 0 10px
