*, body
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: 'Josefin Sans', sans-serif


.sidenav-container
  height: 100%

.mat-drawer-inner-container
  border-right: 2px solid #24c3be

.sidenav
  width: 200px
  background: #303030

.sidenav-menu
  display: flex
  border-bottom: 2px solid #24c3be

.sidenav-btn
  margin: 10px 8px

.sidenav .mat-toolbar
  background: inherit

.mat-toolbar.mat-primary
  position: sticky
  top: 0
  z-index: 1

.mat-toolbar
  display: flex
  justify-content: space-between
  background: #303030


.sidenav-btn
  border: 2px solid white
  border-radius: 5px

mat-icon
  margin-bottom: 7px
  color: #24c3be

.logo-block
  display: flex

.logo
  display: flex
  font-size: 30px
  font-family: 'Satisfy', cursive
  font-weight: 700
  letter-spacing: 1px
  text-decoration: none
  color: #24c3be
  margin: 0 15px
  padding-top: 8px

.material-icons
  font-size: 30px
  padding-bottom: 7px
  color: #24c3be

.user-menu
  display: flex
  width: 200px
  justify-content: center
  border: 2px solid #24c3be
  background: #1c1c1c
  margin: 5px 25px
  border-radius: 15px 0 15px 0!important
  box-shadow: 0 0 5px 3px #24c3be inset

.content
  height: 100%
  background: #1c1c1c

.container
  max-width: 1330px
  margin: 0 auto
  padding: 0 15px

.card
  text-decoration: none

  &__card-item
    width: 330px
    border: 2px solid silver
    margin: 15px
    border-radius: 15px 0 15px 0 !important
    background: #1c1c1c

  @media screen and (min-width: 400px)
    &__card-item:hover
      box-shadow: 0 0 10px 3px black

  &__image-block
    display: flex
    justify-content: center
    position: relative

  &__image
    width: auto
    height: 330px
    border-radius: 10px 0 0 0 !important

  &__unpublished-icon
    position: absolute
    content: ''
    top: 5px
    right: 5px
    width: 43px
    height: 45px
    font-size: 40px
    color: white
    background: #e98811
    border: 2px solid white
    border-radius: 5px

  &__title
    font-weight: 700
    font-style: italic
    text-align: center
    text-transform: capitalize
    margin: 0
    padding: 5px

  &__subtitle
    font-size: 18px
    font-weight: 700
    font-family: 'Noto Serif Display', serif
    text-align: center
    font-style: italic
    color: white

  &__buttons-block
    display: flex!important
    justify-content: space-around
    padding: 20px 5px 10px!important

.artist-title
  font-size: 44px!important
  font-weight: 700
  font-style: italic!important
  line-height: 45px!important
  padding: 25px

.artist-subtitle
  font-size: 18px
  font-style: italic
  padding-bottom: 10px

.spinner
  margin: 10% auto


@media screen and (max-width: 500px)
  .author-title
    font-size: 24px

.reg-link
  color: black
  background: white
  margin: 5px!important
  &:hover
    opacity: 0.8

.form-wrapper
  padding: 5% 15px

.form-block
  text-align: center
  max-width: 650px
  margin: 0 auto
  background: #1c1c1c
  box-shadow: -2px -3px 30px 0px white inset!important

  &__form-title
    font-size: 32px
    font-style: italic
    margin: 20px 0 30px!important

.form-wrapper
  display: flex!important
  justify-content: center

.mat-form-field-infix
  min-width: 300px!important

.reg-form
  &__element-wrapper
    display: flex!important
    flex-direction: column
    margin-bottom: 30px

  &__label
    font-size: 16px
    font-style: italic
    color: white

  &__element
    font-size: 18px!important
    padding: 5px

  &__element-error
    font-size: 16px
    font-weight: bold
    text-align: center
    padding: 7px

  &__reg-btn
    color: black!important
    background: white

.identical-error
  margin-top: -20px


.card-track
  display: flex!important
  flex-wrap: wrap
  align-items: center
  width: 60%
  margin: 15px auto
  background: #1c1c1c
  &:hover
    box-shadow: 0 0 10px 3px silver!important

  &__track-icons
    width: 20%

  &__icon-play
    &:hover
      color: #b0bec5

  &__items
    display: flex
    flex-wrap: wrap
    align-items: center
    width: 80%

  &__title
    font-size: 20px!important
    font-weight: bold
    font-style: italic
    width: 30%
    margin-right: 10px

  &__subtitle
    font-size: 18px
    padding: 20px 0 0 20px

  &__slider-block
    display: flex
    flex-wrap: wrap
    padding: 0
    width: 60%

  &__slider
    width: 80%

.table-block
  background: black
  padding: 15px
  max-width: 930px
  margin: 0 auto
  border-radius: 10px
  box-shadow: 0 0 20px 10px rgba(255,255,255,0.35)

.styled-table
  border-collapse: collapse
  padding: 20px
  margin: 0 auto
  font-size: 0.9em
  font-family: sans-serif
  min-width: 900px
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
  color: black
  text-align: center

.styled-table thead tr
  background: rgba(255,255,255,0.25)
  color: white

.styled-table th
  font-size: 18px
  font-weight: bold
  font-family: Roboto, "Helvetica Neue", sans-serif
  width: 33.333%

.styled-table td
  font-size: 16px

.styled-table th,
.styled-table td
  font-style: italic
  padding: 12px 15px
  border: 2px solid black

.styled-table td
  background: silver

.cabinet-block
  padding: 100px 15px

  &__title
    font-size: 54px!important
    font-weight: 700
    font-style: italic
    line-height: 55px
    color: white
    text-align: center
    text-shadow: 10px 5px 15px black

.cabinet
  display: flex
  justify-content: space-around
  padding: 90px 15px
  &__card
    width: 25%
    height: auto
    text-decoration: none

  &__card-item
    padding: 30px 10px 30px!important
    border: 2px solid white
    box-shadow: -2px -3px 34px 0px white inset!important
    border-radius: 40px 0 40px!important

  &__card-title
    font-size: 28px
    font-weight: bold
    font-style: italic
    text-align: center!important
    padding: 15px

  &__card-image
    width: 250px!important
    height: 255px
    margin: 0 auto 20px!important


.lds-facebook
  display: flex
  position: relative
  width: 80px
  height: 80px
  margin: 0 auto

.lds-facebook div
  display: inline-block
  position: absolute
  left: 8px
  width: 16px
  background: #e98811
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite

.lds-facebook div:nth-child(1)
  left: 8px
  animation-delay: -0.24s

.lds-facebook div:nth-child(2)
  left: 32px
  animation-delay: -0.12s

.lds-facebook div:nth-child(3)
  left: 56px
  animation-delay: 0s

@keyframes lds-facebook
  0%
    top: 8px
    height: 64px

  50%, 100%
    top: 24px
    height: 32px
