<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === true">
    <div class="sidenav-menu">
      <mat-toolbar>Menu</mat-toolbar>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="artists"><span class="material-icons">audiotrack</span>All artists</a>
      <a mat-list-item routerLink="{{!(user | async)? 'login' : 'track_history'}}"><span class="material-icons">audiotrack</span>Track history</a>
      <a mat-list-item routerLink="contacts"><span class="material-icons">audiotrack</span>Contacts</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-toolbar">
      <div class="logo-block">
        <button mat-icon-button class="sidenav-btn" (click)="drawer.toggle(); onChange()">
          <span class="material-icons">{{isOpen ? 'queue_music' : 'close'}}</span>
        </button>
        <a class="logo" routerLink="/">Music <span class="material-icons">headset</span></a>
      </div>
      <nav *appUserType="'user' else anonMenu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="icon-user">account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="user-menu">
          <button mat-menu-item [disabled]="true">{{ (user | async)?.name }}</button>
          <button mat-menu-item routerLink="Personal-Area">Cabinet</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </nav>
      <ng-template #anonMenu>
        <nav>
          <a mat-raised-button class="reg-link" routerLink="/register">REGISTER</a>
          <a mat-raised-button class="reg-link" routerLink="/login">SIGN IN</a>
        </nav>
      </ng-template>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
